<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Version One Instace Basic Settings -->
    <add key="versionOneUrl" value="http://csl-version-01/VersionOne" />
    <add key="versionOneInstanceName" value="VersionOne" />
    <add key="versionOneInstanceVersion" value="18.1.3.17" />
    <add key="V1Username" value="YourUserName" />
    <add key="V1Password" value="YourPassword" />

    <!-- Azure DevOps Settings -->
    <add key="ADOUrl" value="https://dev.azure.com/YourCompanyName/" />
    <add key="ADOToken" value="Your Personal access token" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>