<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <hgroup>
        <h1>Success.</h1>
        <h2>Defects Migrated successfully</h2>
        <h3><strong>@TempData["Message"]</strong></h3>
    </hgroup>

    <div>
        @Html.ActionLink("Back to Home", "Index", "Home")
    </div>
</body>
</html>